<nav class="navbar navbar-default">
	<div class="container">
		<ul class="nav navbar-nav">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded='false'><span class="glyphicon glyphicon-list"></span></a>
				<ul class="dropdown-menu" role='menu'>
					<% Category.all.each do |category| %>
					  <li class="<%= 'active' if params[:category] == category.name %>">
					  	<%= link_to category.name, sneakers_path(category: category.name), class: "link" %>
					  </li>
					<% end %>
				</ul>
			</li>
			<div class="navbar-header">
			<%= link_to "BLZSneaker", root_path, class: "navbar-brand" %>
		    </div>
			<% if logged_in? && current_user.admin? %>
			  <li><%= link_to "Add sneaker", new_sneaker_path %></li>
			<% end %>
		</ul>

		<ul class="nav navbar-nav navbar-right" id="loginicon">
			<% if logged_in? %>
			  <li class="dropdown">
			  	<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-remote="true">
			  		<span class="glyphicon glyphicon-user"></span>
			  	</a>
			  	<ul class="dropdown-menu">
			  		<li><%= link_to "Profile", current_user %></li>
			  		<li><%= link_to "Settings", edit_user_path(current_user) %></li>
			  		<li class="divider"></li>
			  		<li><%= link_to "Logout", logout_path, method: :delete %></li>
			  	</ul>
			  </li>
			<% else %>
			  <li><%= link_to login_path, remote: true, data: { toggle: "modal", target: "#login" } do %>
			  	    <span class="glyphicon glyphicon-user"></span>
			  	  <% end %>
			  </li>
			<% end %>
		</ul>
	</div>
</nav>