<% provide(:title, "Edit Sneaker") %>

<h1>Edit Sneaker</h1>

<%= simple_form_for @sneaker, :html => { :multipart => true } do |f| %>
  <%= f.select :category_id, @categories %>
  <%= f.input :title, label: "Title" %>
  <%= f.input :detail %>
  <%= f.input :price %>
  <%= f.button :submit %>
<% end %>
