<% provide(:title, "Sneaker") %>
<div class="row">
	<div class="col-md-6">
		<%= image_tag @sneaker.sneaker_img.url(:sneaker_show), class: "sneaker-show" %>
	</div>

	<div class="col-md-6">
		   <h2><%= @sneaker.title %></h2>
	       <h3>$<%= @sneaker.price %></h3>
	       <h4><%= @sneaker.category.name %></h4>
	       <p><%= @sneaker.detail %></p>
	</div>
</div>

	<% if logged_in? %>
	  <% if @sneaker.user_id == current_user.id %>
	    <%= link_to "Edit", edit_sneaker_path(@sneaker) %></br>
	    <%= link_to "Delete", sneaker_path(@sneaker), method: :delete,
	                                                  data: { confirm: "Are you sure?" } %>
	  <% end %>
	<% end %>

